body > header, .forecasts {
	font-size: x-large;
}
header span {
	padding-left: 0.5em;
	padding-right: 1em;
}
header {
	padding-bottom: 1em
}
#aqi {
	color: white;
}

#aqi a:link {
	color: white;
}

#aqi a:visited {
	color: white;
}


.hand:hover{
    cursor: pointer;
}
.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}
.wi.big {
	font-size: 3em;
}
.wi-cloud {
	color: green;
}
.wi-showers {
	color: yellow;
}
.wi-rain-mix {
	color: orange;
}
.wi-rain {
	color: red;
}
.wi-rain {
	color: red;
}
.weather_icon {
	width: 70px;
	height: 55px;
}
.forecasts td.time {
	padding-left: 1em;
	padding-right: 3em;
}
.caption_icon {
	width: 46px;
	height: 36px;
}
caption {
	caption-side: bottom;
	font-size: x-small;
}
.source {
	font-size: x-small;
}
.apropos {
	position: absolute;
	right: 20px
}
